@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lowgray: var(--low-gray);
  --color-midgray: var(--mid-gray);
  --color-celeste: var(--celeste);
  --color-tomato: var(--tomato);
  --color-periwinkle: var(--periwinkle);
  --color-faded-blue: var(--faded-blue);
  --color-slate-blue: var(--slate-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:      #020205;
    --foreground:      #fff9ee;
    --low-gray:        #080808;
    --mid-gray:        #2e2e2e;
    --celeste:         #bdede0;
    --tomato:          #f95738;
    --periwinkle:      #b6b8d6;
    --faded-blue:      #7a95cf;
    --slate-blue:      #6f58c9;
  }
}

@media (width <= 48rem) {
    .mobile-scroll-lock {
        overflow: hidden;
    }
}

body {
    margin: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    @apply px-10;
}

h1 {
    @apply text-6xl;
    font-family: var(--font-space-grotesk), sans-serif;
}

h2 {
    @apply text-5xl mb-3;
    font-family: var(--font-space-grotesk), sans-serif;
}

h2 {
    @apply text-4xl;
    font-family: var(--font-space-grotesk), sans-serif;
}

a {
    @apply duration-50 ease-out;
}

img, svg {
    color-scheme: light only;
}

input, textarea {
    outline: none;
    @apply px-2 py-1;
}

p {
    @apply mb-5;
}

code {
    @apply bg-midgray px-1;
    font-family: var(--font-fira-code), monospace;
}
